<h2 class="pt-4">Marvel y DC</h2>

<p>
    Extraños sucesos empiezan a suceder como la aparición del Hombre Araña en Gotham City junto al Joker. Mientras en el plano Astral los dos hermanos, que personifican al Multiverso Marvel y al Multiverso DC, toman conciencia que no están solos en el universo: los hermanos descubren la existencia del otro.
</p>

<p>
    Tanto a los superhéroes como a los villanos, antihéroes, civiles o policías, les llama la atención en sus respectivos multiversos unas luces amarillas extrañas que los transportan. Mientras que algunos luchan, preguntándose qué ocurre, otros, como el Doctor Strange (Marvel) y demás místicos, funden su magia para encontrar la respuesta. En la Baticueva, Bullseye (Marvel) está confundido y amenaza a Batman (DC) con matar a Robin (DC) si no le dice qué ocurre. Entonces este se libera y Batman noquea a Bullseye, pero una luz amarilla transporta a Robin a la X-Mansión, hogar de los X-Men (Marvel).
</p>

<p>
    Hulk (Marvel) como el Hulk Maestro (la más poderosa de sus personalidades, ya que es la fusión entre la mente Bruce Banner y el físico de Hulk), está con Betty Ross, cuando de repente desaparece sin más. En el Daily Planet, Clark Kent (DC) tiene ahora dos jefes: Perry White (DC) y Jonah Jameson (Marvel). Además tiene un nuevo compañero fotógrafo: Peter Parker (quien en realidad es Ben Reilly que usa el nombre del verdadero Spiderman, ya que al encontrarse ahora en el multiverso de DC nadie lo conoce).
</p>

<p>
    Un personaje buscaba la guarida de X-Factor, pero en su lugar encuentra una tienda con motivos de los Looney Tunes. Axel Asher encuentra a un vagabundo sospechoso en un callejón con una caja brillante tratando de cubrirla con cinta adhesiva, y este le explica que es una de las piezas restantes de cuando surgió el Big Bang, que además de crear un sistema solar, creó una variedad de universos y tierras paralelas (como la Tierra 616 de Marvel y la Tierra 0 de DC).
</p>

<p>
    Ahora que los hermanos conocen la existencia del otro, no se van a detener. Estos revelan a todos en ambos universos que antes estaban unidos, pero lucharon entre sí y se destruyeron, volvieron a reconstruirse por separado, aunque poco a poco fueron creando sus propias diferencias y olvidaron cuando conocían al otro; pero que ambos ya estaban hartos de la existencia del otro y deciden destruirse mutuamente. Aconsejados por las entidades cósmicas The Spectre (DC) y el Living Tribunal (Marvel) se desafían a un duelo de múltiples batallas, en el que cada uno utiliza personajes o campeones de su propio Universo principal (tierra 616 y tierra 0). El perdedor desaparecerá.
</p>

<a routerLink="/home" class="btn mb-3 mt-3 btn-outline-primary w-100">Regresar al Home</a>
<a routerLink="/heroes" class="btn btn-outline-success w-100">Ver todos los heroes disponibles</a>